html
  scroll-behavior: smooth

body
  font-family: 'Inter', sans-serif
  background: var(--background-body)
  color: var(--text-dark)

button
  outline: none
  cursor: pointer
  @extend %unselectable

label
  @extend %unselectable

.container
  max-width: 1440px
  margin: 0 auto
  padding: 0 40px

.visually-hidden
  position: absolute
  margin: -1px
  width: 1px
  height: 1px
  overflow: hidden
  clip: rect(0 0 0 0)
  padding: 0
  border: 0

.scroll-block
	overflow: hidden

@media(max-width: 760px)
  .container
    padding: 0 16px
